body {
    background-color: #2D2D2D;
    min-width: 480px;
}

.titelCenter {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin-top: 200px;
    color: white;
}

.formCenter {
    display: flex;
    justify-content: center;
}

.textForm {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-right: 10px;
    margin-bottom: 15px;
    color: white;
}

.centerForm {
    display: flex;
    justify-content: center;
}

.marginLeft1 {
    margin-left: 128px;
    height: 20px;
}

.marginLeft2 {
    margin-left: 40px;
    height: 20px;
}

.centerButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonStyling {
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    font-size: 18px;
    height: 25px;
    width: 70px;
    border: 0px;
    border-radius: 5px;
    margin-left: 273px;
}

.containerList {
    display: flex;
    justify-content: center;
}

.listAufgaben {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.titelSmall {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 50px;
    color: white;
}



.listElement {
    margin-bottom: 20px;
}

.erledigtButton {
    margin-left: 10px;
}

.filter {
    display: flex;
    justify-content: center;
}

.filterDropdown {
    margin-left: 10px;
}

.centerButtons {
    display: flex;
    justify-content: center;
}

.filterErledigt {
    margin-right: 50px;
    border-radius: 7px;
    border: 0px;
    font-size: 18px;
}
.erledigt{
    display: flex;
    align-items: center;
    text-decoration: line-through;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}
.nichterledigt {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.filterNichtErledigt {
    border-radius: 7px;
    border: 0px;
    font-size: 18px;
}

.button-erledigt {
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.mülleimer {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.labelFilter {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-right: 25px;

}

.options {
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 30px;
    width: 130px;
    padding-left: 5px;
    font-size: 15px;
    border: 0px;
    outline: none;
}
